
<div class="sidebar-header">
    <h3>Wietility</h3>
</div>

<ul class="list-unstyled components">
    <li>
        <NavLink class="nav-link" href="" ActiveClass="active" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </li>
    <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Convert</a>
        <ul class="list-unstyled collapse show" id="homeSubmenu">

            <li>
                <NavLink class="nav-link" href="prettyjson" ActiveClass="active" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-plus" aria-hidden="true"></span> JSON PRETTY
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="prettyssv" ActiveClass="active" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> SSV PRETTY
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="encoding" ActiveClass="active" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> ENCODING
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="jsononerow" ActiveClass="active" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> JSON TO ONE ROW JSON
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="onerowjson" ActiveClass="active" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> One Row Json To Pretty
                </NavLink>
            </li>
        </ul>
    </li>

</ul>


@code {


}
